<html>
  <head>
    <meta charset="utf-8" />
    <title>Danh sách cập nhật sinh viên</title>
  </head>
  <body>
    <h2>Chọn sinh viên để xoá</h2>

    <?php
    if (!empty($studentList)) { 
        $i = 1;
        foreach ($studentList as $student) {
            echo "<p>" . $i . ". <a href=\"../Controller/C_Student.php?action=delete&id=" . $student->id . "\">" .$student->name . "</a></p>";
            $i++;
        }
    } else {
        echo "<p>Không có sinh viên.</p>"; 
    }
    ?>
    
    <p><a href="../index.php">Home page</a></p>
  </body>
</html>
