<html>
    <head>
        <meta charset="utf-8"/>
        <title>Thông tin chi tiết sinh viên</title>
    </head>
    <body>
        <h2>Chi tiết sinh viên</h2>
        <?php
        echo "<p> ID: <b>" . $student->id . "</b></p>";
        echo "<p> Tên: <b>" . $student->name . "</b></p>";
        echo "<p> Tuổi: " . $student->age . "</p>";
        echo "<p> Trường: " . $student->university . "</p><br>";
        ?>
        <br>
        <p><a href="javascript:history.back()">Back</a></p>
    </body>
</html>
